<launch>
	<include file="$(find mickx4_serial)/launch/mickx4_serial.launch" />
	<include file="$(find rplidar_ros)/launch/rplidar.launch" />
	<arg name="map_name" value="carto_lab4.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find mickx4_nav)/maps/$(arg map_name)"/>
    <include file="$(find mickx4_nav)/launch/tb_amcl.launch" />
	<include file="$(find mickx4_nav)/launch/move_base.launch" />
</launch>
